.submit-button {
  background-color: var(--mindaro);
  color: var(--dark-green);
  padding: 8px 16px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
  transition: transform var(--transition-speed) ease;
  cursor: pointer;
}

.submit-button:hover {
  transform: translateY(-2px);
  background-color: var(--moss-green);
}

.referral-button {
  background-color: var(--mindaro);
  border-radius: var(--button-radius);
  padding: 20px 40px;
  font-size: var(--font-size-lg);
  color: var(--dark-green);
  text-decoration: none;
  display: inline-block;
  transition: transform var(--transition-speed) ease;
  margin-bottom: 1rem;
  font-weight: 500;
}

.referral-button:hover {
  transform: translateY(-2px);
  background-color: var(--moss-green);
}

.refresh-button {
  background-color: var(--hunter-green);
  color: var(--mindaro);
  border: 2px solid var(--mindaro);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: all var(--transition-speed) ease;
}

.refresh-button:hover {
  background-color: var(--mindaro);
  color: var(--dark-green);
  transform: translateY(-2px);
}

.copy-button {
  background-color: var(--mindaro);
  color: var(--dark-green);
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  transition: all var(--transition-speed) ease;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.copy-button:hover {
  background-color: var(--moss-green);
  transform: translateY(-2px);
}

.copy-button span {
  font-size: 1.2rem;
}